/* 
    ------------PAGE STYLE---------------- 
*/

*{
    margin:0px;
  }
  
  body{h
    font-family:sans-serif;
    line-height:2rem;
    background-color:hsl(240,20%,15%);
    color:white;
  }

ul{
    list-style:none;
}
a{
    text-decoration:none;
    color:white;
    
}

/* 
    ----------END PAGE STYLE----------------
#
#
#
#
#
   ------------HEADER STYLE------------------
*/

#header{
    background:hsl(0,78%,55%);
    box-shadow: 5px 5px 10px 5px hsl(0,10%,10%);

    width:100%;
    z-index:1;
    position:fixed;
    top:0px;

    padding:1rem 0 1rem 0 ;

    display:flex;
    align-items:center;
    justify-content:space-between;

}

#title{
    margin-left:3rem;
}

nav#navbar-top{
    margin-right:3rem;
}

nav#navbar-top ul{
	display:flex;
}

nav#navbar-top ul li{
  margin-left:2rem;
  
}

nav#navbar-top ul li a{
	color:white;
}


/* 
    ----------END HEADER STYLE----------------
#
#
#
#
#
   ------------MENU LEFT STYLE------------------
*/
  
#navbar-left{
    position:fixed; 
    margin-top:5rem;
    left:0px;
    width:300px;
    height:100%;
    display:flex;
    flex-direction:column;
    border-right:3px solid white;
    margin-right:300px;
    padding:15px;
  }
  
  #navbar-left #header-title{
    font-size:1.2rem;
    padding:10px;
    margin:0 auto;
    
  }
  
  #navbar-left ul{  
    list-style:none;
    
  }
  
  #navbar-left ul li{
    padding:10px;
    margin-left:-2rem;
    border-bottom:1px solid white;
    position:relative;
    width:100%; 
  }
  
  #navbar-left ul li a{
    text-decoration:none;
    color:white;
    display:block;
  }

  hr{
    margin-top:2rem;
    border-top: solid 0.5px white;
    
  }

  input{
    margin-top:2rem;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    border-radius: 10px;;
    outline: none;
    
   }

   .btn{
    margin-top:2rem;
    height: 45px;
    padding: 0 20px;
   }
   

  


/* 
    ----------END MENU LEFT STYLE----------------
#
#
#
#
#
   ------------MAIN STYLE---------------------
*/

  
  #main{
    position:absolute;
    margin:100px 50px 50px 350px;
    padding:2rem;
    
  }
  
  
@media(max-width: 400px) {
    #main-doc{
        margin-left: -10px;
    }
} 

/* 
    ----------END MAIN STYLE----------------
#
#
#
#
#
   ------------TILE STYLE---------------------
*/

.tile-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  justify-content:center;
  grid-gap:2rem;
  margin:0 3rem 3rem 3rem;
}

.tile{
  background-color:hsl(240,20%,50%);
  border-radius:5px;
  /* box-shadow:5px 5px 10px 1px rgb(255, 255, 255); */
}

.tile:hover{
  box-shadow:0px 0px 10px 3px rgb(255, 255, 255);
}

.tile img{
  width:100%;
  height: auto;
  border-radius:5px;
}

.tile a{
  color:#fff;
  text-decoration:none;
  display:flex;
  flex-direction:column;
  align-items:center;
}


.tile-footer{
  /* background-color:red; */
  
  margin:1rem auto;
  text-align:center;
  
}

#heart:hover{
  transform: scale(1.5);
}


/* 
    ----------END TILE STYLE----------------
#
#
#
#
#
   ------------HEART ICON STYLE---------------------
*/
i {
  cursor:pointer;
  padding:8px 16px 8px 16px;
  background:#fff;
  border-radius:50%;
  display:inline-block;
  
  color:#aaa;
  transition:.2s;
}

i:hover {
  color:#666;
}

i:before {
  font-family:fontawesome;
  content:'\f004';
  font-style:normal;
}


i.press {
  animation: size .4s;
  color:#e23b3b;
  
}


@keyframes size {
  0% {padding:8px 16px 8px 16px;}
  50% {padding:12px 20px 12px 20px;  
    margin-top:-4px;
    font-size:1.3rem;}
  100% {padding:8px 16px 8px 16px;}
}

/* 
    ----------END HEART ICON STYLE----------------
#
#
#
#
#
   ------------HEART ICON STYLE---------------------
*/
  
  
  